#experience-links
  .row.text-center
    .col-md-8.offset-md-2.col-sm-12
      .card.mb-3
        .card-body
          %h3.card-title
            = link_to 'Forem (DEV)', '/about#dev'
          %p.card-text
            Senior Software Engineer
    .col-md-8.offset-md-2.col-sm-12
      .card.mb-3
        .card-body
          %h3.card-title
            = link_to '/about#justice' do
              %span.d-block.d-md-inline-block Justice by
              %span.d-block.d-md-inline-block Iron Tree
          %p.card-text
            Cofounder, Creator, Lead Software Engineer
    .col-md-8.offset-md-2.col-sm-12
      .card.mb-3
        .card-body
          %h3.card-title
            = link_to 'Intrinio', '/about#intrinio'
          %p.card-text
            Software Engineer
    .col-md-8.offset-md-2.col-sm-12
      .card.mb-3
        .card-body
          %h3.card-title
            = link_to 'TicketFire', '/about#ticketfire'
          %p.card-text
            Software Engineer
    .col-md-8.offset-md-2.col-sm-12
      .card.mb-3
        .card-body
          %h3.card-title
            = link_to 'MentorcliQ', '/about#mentorcliq'
          %p.card-text
            Director of Higher Education
    .col-md-8.offset-md-2.col-sm-12
      .card.mb-3
        .card-body
          %h3.card-title
            = link_to '/about#baml' do
              %span.d-block.d-md-inline-block Bank of America
              %span.d-block.d-md-inline-block Merrill Lynch
          %p.card-text
            Assistant Vice President

