#experience-links
  .col.text-center
    .card.mb-3
      .card-body
        %h3.card-title
          = link_to 'DEV (dev.to)', '#dev'
        %p.card-text
          Software Engineer
    .card.mb-3
      .card-body
        %h3.card-title
          = link_to '#justice' do
            %span.d-block.d-md-inline-block Justice by
            %span.d-block.d-md-inline-block Iron Tree
        %p.card-text
          Cofounder & Creator
    .card.mb-3
      .card-body
        %h3.card-title
          = link_to 'Intrinio', '#intrinio'
        %p.card-text
          Software Engineer
    .card.mb-3
      .card-body
        %h3.card-title
          = link_to 'TicketFire', '#ticketfire'
        %p.card-text
          Software Engineer
    .card.mb-3
      .card-body
        %h3.card-title
          = link_to 'MentorcliQ', '#mentorcliq'
        %p.card-text
          Director of Higher Education
    .card.mb-3
      .card-body
        %h3.card-title
          = link_to '#baml' do
            %span.d-block.d-md-inline-block Bank of America
            %span.d-block.d-md-inline-block Merrill Lynch
        %p.card-text
          Assistant Vice President

